@import "tailwindcss";

@theme {
  /* New Theme Colors inspired by Moonblue.s */
  --color-urban-black: #020617;
  /* Very Dark Slate (Almost Black) */
  --color-urban-dark: #0f172a;
  /* Dark Slate Blue */
  --color-urban-gray: #94a3b8;
  /* Cool Grey */
  --color-urban-light: #f1f5f9;
  /* Slate 100 */
  --color-urban-white: #ffffff;

  --color-brand-blue: #0A192F;
  /* Deep Navy (More appealing, less saturated) */
  --color-brand-yellow: #EAB308;
  /* Vibrant Golden Yellow (Tailwind yellow-500) */
  --color-brand-green: #22c55e;
  /* Success Green */

  --font-inter: var(--font-inter);
  --font-kanit: var(--font-kanit);
}

body {
  @apply bg-urban-light text-urban-dark font-kanit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.price,
.sku {
  @apply font-inter;
}